* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #faf7f2; /* atau putih */
}


html, body {
  width: 100%;
  height: 100%;
}



html {
  scroll-behavior: smooth;
}
